* {
    margin: 0;
    padding: 0;
}

header {
    padding: 22px 28px 32px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}

.container {
    width: 990px;
    margin: 0 auto;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu ul li {
    margin: auto calc(34px / 2);
    
}

.menu ul li a {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #dc002d;
    text-decoration: none;
    padding: 12px 9px;
}

.menu ul li a:hover {
    color: #fff;
    background-color: #dc002d;
}

.btn-saiba-mais {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #dcdcdc;
    color: #dc002d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
    line-height: 15.6pt;
    padding: 2px;
    text-decoration: none;
}
.btn-saiba-mais i {
    color: #fff;
    background: #dc002d;
    font-size: 15pt;
    padding: 5px;
    
}

.btn-saiba-mais:hover {
    color: #333333;
}
#banner{
    display: flex;
    width: 100%; height: 312px;
}
#banner .container-image img{
    height: max-content ;
    object-fit: cover   ;

}
#banner .container-slider{
    background-color: #dc002d;
}
#banner .container-slider .slider-1 .context{
    padding: 50px 28px;

}
#banner .container-slider .slider-1 .context h2{
    font-size: 36px;
    font-family: Myriad Pro, sans-serif;
    font-weight: normal;
    color: #fff;
    margin-bottom: 15px;
}
#banner .container-slider .slider-1 .context p{
    font-size: 15px;
    font-family: Arial, serif;
    color: #fff;
}
#banner .container-slider .slider-1 .navegation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 28px;
}
#banner .container-slider .slider-1 .navegation .icons input{
    font-size: 20px;
    padding: 11px;
    background-color: rgba(113, 00, 38, 0.2);
    border: none;
    border-radius: 5px;
    
}
#banner .container-slider .slider-1 .navegation .icons input:hover{
    background-color: rgba(113, 00, 38, .4);
    cursor: pointer;
    
}
#banner .container-slider .slider-1 .marcador .spector{
    display: inline-flex;
    width: 18px; height: 18px;
    background-color: rgba(113, 00, 38, .4);
    border-radius: 10px;
    box-shadow:1px 1px 3px -0.5px rgba(0,0,0,.8) inset;
}
#banner .container-slider .slider-1 .marcador .spector-active{
    display: inline-flex;
    width: 18px; height: 18px;
    border-radius: 10px;
    background-color: #000;
}
#content-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
#content-cards .card{
    padding: 20px;
}
#content-cards .card h2{
    padding: 10px 0;
    font-size: 23px;
    font-family: 'Arial', serif;
}
#content-cards .card p{
    font-size: 19px;
    color: #666666;
    margin-bottom: 30px;
}

.footer{
    background: #d7d6d6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px auto;
}
.footer .container-contacto{
    display: flex;
    margin: 10px;
}
.footer .container-contacto img{
    width: 79px;
}
.footer .container-contacto .content{
    margin: 10px;
    font-size: 14px;
    color: #010011;
}
.footer .container-contacto .content a{
  
    color: #fd0033;
}
.footer .container-final h4{
    color: #dc002d;
    font-size: 20px;
}
.footer .container-final{
    color: #868585;
}